lib/android/.gradle/7.3.3/gc.properties
lib/android/.gradle/
lib/android/.idea/
lib/android/build/
lib/android/.idea/workspace.xml
lib/android/bin/.project
lib/android/bin/
Example_oldArch
ExampleApp/yarn.lock
ExampleApp/ios/Podfile.lock
lib/react-native-we-personalization-*
