<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375541020581-j2l9jltfnqo50m8ertd676pi7qclaed2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375541020581-j2l9jltfnqo50m8ertd676pi7qclaed2</string>
	<key>API_KEY</key>
	<string>AIzaSyC-nIhju21BYfb0NXAxAv6fg7th9Glj3eY</string>
	<key>GCM_SENDER_ID</key>
	<string>375541020581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webEngage.stageSwift</string>
	<key>PROJECT_ID</key>
	<string>staging-c70e5</string>
	<key>STORAGE_BUCKET</key>
	<string>staging-c70e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375541020581:ios:33fa0775bc8df0e070da4c</string>
</dict>
</plist>